.mfx-button {
    -fx-font-family: 'Oxygen';
    -fx-text-fill: #FFFFFF;
}

.mfx-button .mfx-ripple-generator {
    -mfx-ripple-radius: 40;
    -mfx-auto-clip: true;
}

.mfx-button .text {
    -fx-font-smoothing-type: lcd;
}